<h1>Editing Cpr Performance Report</h1>

<%= render 'form', cpr_performance_report: @cpr_performance_report %>




<%= link_to 'Show', @cpr_performance_report %> |
<%= link_to 'Back', cpr_performance_reports_path %>
