<dl class="dl-horizontal">

  <h3>Departments:</h3>


  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Short name</th>
        <th>VT Ref</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @departments.each do |dep| %>
        <tr>
          <td><%= link_to dep.name, department_path(dep) %></td>
          <td><%= dep.short_name %></td>
          <td><%= dep.vt_number %></td>
        </tr>
      <% end %>
    </tbody>
  </table>



</dl>
