<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @department.short_name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @department.vt_number %>
</p>
