<h1>About Construction Contracts Register</h1>

<p>The CCR site and tools have been developed by the Code for Australia fellowship team at the Department of Treasury and Finance in Victoria</p>

<p>The source code for CCR is avaliable at our <a href="">GitHub repository</a></p>

<p>Videos of presentations we've given on the topic can be found on our <a href="">YouTube channel</a></p>

<p>Reports on our build status are avaliable through various sources including semaphore, CodeShip and others linked bleow
<a href='https://semaphoreci.com/PuZZleDucK/dtf-genesis'> <img src='https://semaphoreci.com/api/v1/PuZZleDucK/dtf-genesis/branches/master/badge.svg' alt='Build Status'></a>

<p>We are trialing ZenDesk for user feedback so please <a href="">YouTube channel</a></p>
