<div class="main-content">
  <h5>About Construction Contracts Register</h1>
  <h6>Upcoming Features and Prototypes:</h3>
  <p>View <a href="http://wrbmgb.axshare.com">our axure prototype</a> to find out what concept and designs we are currently exploring and to provide feedback on the future direction of CCR</p>
  <p>You can also view our old versions to find out how far we've come</p>
  <ul>
    <li><a href="http://5a2gy7.axshare.com/contracts_dashboard.html">Version 2</a></li>
    <li><a href="http://erqqf8.axshare.com/home.html">Version 1</a></li>
  </ul>

  <p>Create a new <%= link_to "Contract Performance Reporting Form", new_cpr_performance_report_path %></p>

  <p>List of <%= link_to "Councils ", councils_path %> that may be of use to anyone in government</p>

  <h6>About Development:</h6>

  <p>The CCR site and tools have been developed by the Code for Australia fellowship team at the Department of Treasury and Finance in Victoria</p>

  <p>The source code for CCR is available at our <a href="https://github.com/CodeforAustralia/dtf-genesis">GitHub repository</a></p>


  <h6>Feedback:</h6>

  <p>We are trialing ZenDesk and SnapEngage for user feedback so please interact with the CCR widgets to provide feedback</p>

</div>
