<h1>About Construction Contracts Register</h1>

<p>The CCR site and tools have been developed by the Code for Australia fellowship team at the Department of Treasury and Finance in Victoria</p>

<p>The source code for CCR is avaliable at our GitHub repository</p>

<p>Videos of presentations we've given on the topic can be found on this YouTube channel</p>

<p>Reports on our build status are avaliable through various sources including semaphore, codeship and blah</p>
