<div class="main-content">
  <h5>About Construction Contracts Register</h1>
  <h6>Upcoming Features and Prototypes:</h3>
  <p>View <a href="http://wrbmgb.axshare.com">our axure prototype</a> to find out what concept and designs we are currently exploring and to provide feedback on the future direction of CCR</p>
  <p>You can also view our old versions to find out how far we've come</p>
  <ul>
    <li><a href="http://5a2gy7.axshare.com/contracts_dashboard.html">Version 2</a></li>
    <li><a href="http://erqqf8.axshare.com/home.html">Version 1</a></li>
  </ul>

  <p>Create a new <%= link_to "Contract Performance Reporting Form", new_cpr_performance_report_path %></p>

  <p>List of <%= link_to "Councils ", councils_path %> that may be of use to anyone in government</p>

  <h6>About Development:</h6>

  <p>The CCR site and tools have been developed by the Code for Australia fellowship team at the Department of Treasury and Finance in Victoria</p>

  <p>The source code for CCR is avaliable at our <a href="https://github.com/CodeforAustralia/dtf-genesis">GitHub repository</a></p>

  <p>We have been documenting our journey with DTF on <a href="https://codeforaustralia.github.io/DTF-Blog/">our blog</a></p>

  <p>Videos of presentations we've given on the topic can be found on our <a href="https://www.youtube.com/playlist?list=PLwGcrAT3m_viNbpT8IfhdCOCcyIb3ihGv">YouTube channel</a></p>

  <h6>Build Status:</h6>

  <p>Reports on our build status are avaliable through various sources including semaphore, CodeShip and others linked bleow

  <p><a href='https://semaphoreci.com/PuZZleDucK/dtf-genesis'> <img src='https://semaphoreci.com/api/v1/PuZZleDucK/dtf-genesis/branches/master/badge.svg' alt='Build Status'></a></p>

  <p><a href='https://app.codeship.com/projects/180502'><img src="https://app.codeship.com/projects/f3a78630-796e-0134-dd4b-3a1a91268848/status?branch=master" alt="Status?branch=master" /></a></p>

  <p><a href='https://scrutinizer-ci.com/g/ThreeLetterNames/dtf-genesis/?branch=master'><img src="https://scrutinizer-ci.com/g/ThreeLetterNames/dtf-genesis/badges/quality-score.png?b=master" alt="scruitinizer badge" /></a></p>

  <p><a href='https://travis-ci.org/ThreeLetterNames/dtf-genesis/settings'><img src="https://travis-ci.org/ThreeLetterNames/dtf-genesis.svg?branch=master" /></a></p>

  <h6>Feedback:</h6>

  <p>We are trialing ZenDesk and SnapEngage for user feedback so please interact with the CCR widgets to provide feedback</p>

</div>
