<h1>Construction Contracts Register</h1>

<p>The place to find out what Victoria is building for the next generation</p>

<p>View <a href="http://erqqf8.axshare.com/home.html">our axure prototype</a> to find out what concept and designs we are currently exploring and provide feedback on the future direction  of the CCR</p>

<p>List of <%= link_to "Councils ", councils_path %> that may come handy later on for whoever wants it!</p>