<h1>Editing Csr Performance Report</h1>

<%= render 'form', csr_performance_report: @csr_performance_report %>

<%= link_to 'Show', @csr_performance_report %> |
<%= link_to 'Back', csr_performance_reports_path %>
