@import "bootstrap-sprockets";
@import "bootstrap";
@import "pages";
@import "councils";

// Declare the color as RGB; SASS will treat this as hex
$orange: rgb(250,70,00);
// Declare an alpha
$alpha75: .70;
$alpha50: .5;
$alpha25: .25;
// Declare another color variable as a color with an alpha
$orangeAlpha75: rgba($orange, $alpha75);
$orangeAlpha50: rgba($orange, $alpha50);
$orangeAlpha25: rgba($orange, $alpha25);


$main-text-color: #222200;

$logo-color: #222200;
$header-background: $orangeAlpha75;
$main-background-color: #DFDAD3;

$input-color: $orangeAlpha75;
$input-active-color: $orangeAlpha50;

$input-alt-color: #222200;
$input-active-alt-color: #000000;

.container {
  color: $main-text-color;
  width: 99%;
}

.navbar {
  background-color: $header-background;
}

.actions {
  margin-right: 0px;
  padding-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  text-align: center;
  a {
    margin-right: 0px;
    padding-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
  }
}
.destroy {
  a {
    text-align: center;
  }
}

ul.nav {
  font-size: 1.25em;
}
ul.nav a {
  color: $main-text-color !important;
  text-decoration: none;
  font-weight: bold;
}
ul.nav a:hover { color: #FFF !important; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

body {
  background-color: $main-background-color;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $logo-color;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  text-decoration: none;
}

#logo:hover {
  color: #FFF;
  text-decoration: none;
}



input, textarea, select, .uneditable-input {
  border: 2px solid $input-alt-color;
  width: 70%;
  margin-bottom: 15px;
  padding-left: 15px;
  background-color: $input-color;
}
.btn {
  border: 2px solid $input-alt-color;
  margin-right: 5px;
  color: $input-alt-color;
  background-color: $input-color;
}
.btn:hover, .btn:active {
  background-color: $input-active-color;
  color: $input-active-alt-color;
}
#filter {
  margin-top: 15px;
}

form {
  border: 2px solid $input-alt-color;
  padding-right: 9%;
  padding-left: 2%;
}
input {
  height: auto !important;
}
.smart-listing {
  width: 100%;
  border: 2px solid $input-alt-color;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 0px;
  .table-text {
    padding-left: 10px;
    padding-top: 3px;
  }
}
.sortable {
  color: $input-alt-color;
}

tbody {
  border: 2px solid $input-alt-color;
}

.index-haml-pages {
  border: 2px solid $input-alt-color;
}

.pagination-per-page {
  width: 60%;
  margin-left: 20%;
  text-align: center;
  border: 2px solid $input-alt-color;
}
.pagination {
  margin-top: 4px;
  margin-bottom: 2px;
  border: 2px solid $input-alt-color;
  .page {
    a {
      background-color: $input-color;
      color: $input-alt-color;
    }
    a:hover, a:active {
      background-color: $input-active-color;
      color: $input-active-alt-color;
    }
  }
  .active {
    a {
      background-color: $input-alt-color;
      color: $input-color;
    }
    a:hover, a:active {
      background-color: $input-active-alt-color;
      color: $input-active-color;
    }
  }
  .next_page {
    a {
      background-color: $input-color;
      color: $input-alt-color;
    }
    a:hover, a:active {
      background-color: $input-active-color;
      color: $input-active-alt-color;
    }
  }
  .last {
    a {
      background-color: $input-color;
      color: $input-alt-color;
    }
    a:hover, a:active {
      background-color: $input-active-color;
      color: $input-active-alt-color;
    }
  }
  .prev {
    a {
      background-color: $input-color;
      color: $input-alt-color;
    }
    a:hover, a:active {
      background-color: $input-active-color;
      color: $input-active-alt-color;
    }
  }
  .first {
    a {
      background-color: $input-color;
      color: $input-alt-color;
    }
    a:hover, a:active {
      background-color: $input-active-color;
      color: $input-active-alt-color;
    }
  }
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $input-alt-color;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    $input-alt-color;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $input-alt-color;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    $input-alt-color;
}

.contracts-row:hover {
    cursor: pointer;
    background: $orangeAlpha25;
}
