div.contract-table{
  background-color: white;
  margin-top: 10px;
  margin-left: 2%;
  width: 96%;
  -moz-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.349019607843137);
}