@media only screen and (max-width: 480px) {
  .nav-text {
    font-size: 1.9rem;
    line-height: 1.2;
    padding: 10px 0px 0px 0px;
  }

  .header-title{
    font-size: 1.9rem;
    line-height: 1.2; 
  }

  .tab-title{
    font-size: 18px;
  }
}
