// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #116;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #66B;
    text-decoration: none;
  }
}