.dashboard {
  border: 0px solid;
  padding: 5px;
  margin: 5px;
  text-align: center;
  width: 100%;
}

.dashboard table {
  border: 0px solid;
}

.dashboard tr {
  padding: 5px;
  margin: 5px;
}
.dashboard td {
  padding: 5px;
  margin: 5px;
}

.barchart {
  padding: 5px;
  margin: 5px;
  padding-left: 25px;
  padding-top: 15px;
}

.barchart rect {
  fill: steelblue;
}

.barchart text {
  fill: black;
  font: 8px sans-serif;
  text-anchor: middle;
}

.piechart {
  padding: 5px;
  margin: 5px;
  padding-left: 25px;
  padding-top: 15px;
}

.piechart rect {
  fill: red;
}

.piechart text {
  fill: black;
  font: 8px sans-serif;
  text-anchor: middle;
}


.axis text {
  font: 8px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.legend {
  font-size: 12px;
}
rect {
  stroke-width: 2;
}


/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #337ab7;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #66B;
    text-decoration: none;
  }
}
