// Place all the styles related to the suppliers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.council-table {
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
}