<div class="footer-wrapper valign-wrapper">
  <div class="valign footer-text">
    <span id="copyright"> © Code for Australia 2016 GPL3 </span>| Find out what Victoria is building for the next generation
  </div>
</div>
