<!-- Static navbar: For Cleanup  -->
<header class="navbar navbar-default navbar-static-top">
  <div class="container">

    <div class="navbar-header">
      <%= link_to "CCR",   root_path, id: "logo" %>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "About", pages_about_path %></li>
        <li><%= link_to "Contracts", contracts_path %></li>
        <li><%= link_to "Suppliers", suppliers_path %></li>
      </ul>
    </div>

  </div>

</header>
